body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}

h1,
h2,
h3 {
    color: #111;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.section {
    margin-bottom: 20px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.image {
    max-width: 100%;
    height: auto;
/*  margin: 10px 0; */
    margin-bottom: 10px;
}